<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css" type="text/css">
  <title><%= pageTitle %></title>
</head>
<body>
  <header>
    <%- include('header.ejs', {pagePath: pagePath, currentDate: currentDate}) %>
  </header>

  <div class="description">
    <h4>You cannot change the status on this tab because it is governed by the actual state of subscriptions in Magento. They will change automatically.</h4>
  </div>

  <div class="main-container">
    <% if (customerPurchasesArr.length < 1){ %>
      <p class="loading-p">THERE ARE NO <%= pageTitle %> AT THIS TIME.</p>
      <% } else { %>

        
        <% for(customer in customerPurchasesArr) { 
          var addressID = customerPurchasesArr[customer].address.split(' ').join()
          var custInstancesArr = customerPurchasesArr[customer].subscriptions.filter(item =>{
            return item.status == pagePath
          })
          if (custInstancesArr.length <= 0){
            %>
            <h2>No records of <%= pagePath %> at this time.</h2>
            <%
          } else{ %>
            <div class="single-customer">
  
              <p class="address"><%= customerPurchasesArr[customer].address %>, <%= customerPurchasesArr[customer].addressOthers.city %>, <%= customerPurchasesArr[customer].addressOthers.region %> <%= customerPurchasesArr[customer].addressOthers.postcode %></p>
              
              <div id="<%= addressID %>" class="customer-box">
                <div class="customer-info">
                  <h3>CUSTOMER INFORMATION</h3>
                  <p>Address: <%= customerPurchasesArr[customer].address %></p>
                  <p>Name: <%= customerPurchasesArr[customer].name %></p>
                  <p>Email: <a href="mailto:<%= customerPurchasesArr[customer].email %>"><%= customerPurchasesArr[customer].email %></a></p>
                  <p>Phone: <a href="tel:<%= customerPurchasesArr[customer].addressOthers.telephone %>"><%= customerPurchasesArr[customer].addressOthers.telephone %></a></p>
                </div>
    
                <div class="cust-form">
                  <p>CUSTOMER NOTES (add or append and press update)</p>
                  <form action="/addNote/<%= customerPurchasesArr[customer].address %>" method="post">
                    <textarea name="addNote" type="text"><%= customerPurchasesArr[customer].notes %></textarea>
                    <input type="submit" value="UPDATE NOTES">
                    <input type="hidden" name="pagePath" value="<%= pagePath %>">
                  </form>
                </div>
              </div>
  
              <div class="purchased-items">
                <h4 class="sub-head">THIS CUSTOMER CURRENTLY HAS THESE SUBSCRIPTIONS</h4>
                <% var others = [] %>
                <% 
                if(customerPurchasesArr[customer].suggestedItems){
                  for(item in customerPurchasesArr[customer].suggestedItems){
                    others.push(customerPurchasesArr[customer].suggestedItems[item])
                  }
                }
                for(item in customerPurchasesArr[customer].subscriptions){ 
                  if(customerPurchasesArr[customer].subscriptions[item].status !== pagePath){
                    others.push(customerPurchasesArr[customer].subscriptions[item])
                  } else {
                %>
                  <div class="single-customer-purchased-item">
                    <div class="single-customer-purchase">
                      <p><span style="font-weight: 600;">Product:</span> <%= customerPurchasesArr[customer].subscriptions[item].productName %></p>
                      <p>Order Number: <%= customerPurchasesArr[customer].subscriptions[item].orderId %></p>
                      <p>Subscription Number: <%= customerPurchasesArr[customer].subscriptions[item].subNum %></p>
                      <p>Price: $<%= customerPurchasesArr[customer].subscriptions[item].subtotal %></p>
                      <p>Created On: <%= customerPurchasesArr[customer].subscriptions[item].created_at.split(' ')[0] %></p>
                      <p>Last Run: <%= customerPurchasesArr[customer].subscriptions[item].last_run.split(' ')[0] %></p>
                      <p>Next Run: <%= customerPurchasesArr[customer].subscriptions[item].next_run.split(' ')[0] %></p>
                      <p>Run Count: <%= customerPurchasesArr[customer].subscriptions[item].run_count %></p>
                      <p><span style="font-weight: 600;">Interval:</span> <%= customerPurchasesArr[customer].subscriptions[item].interval %></p>
                    </div>
    
                    <div class="single-purchase-edit-box">
                      <p class="status purchase-status <%= pagePath %>">STATUS: <%= customerPurchasesArr[customer].subscriptions[item].status %></p>
                      <!-- <form action="/changeStatus/<%= customerPurchasesArr[customer].address %>" method="POST">
                        <select name="status" id="status">
                          <option value="new">--New Suggestion --</option>
                          <option value="contacted">Contacted</option>
                          <option value="potential">Potential</option>
                          <option value="paused">Paused</option>
                          <option value="not-interested">Not Interested</option>
                        </select>
                        <input type="hidden" name="subNum" value="<%= customerPurchasesArr[customer].subscriptions[item].subNum %>">
                        <input type="submit" value="CHANGE STATUS">
                      </form> -->

                      <p><span style="font-weight: 600;">PURCHASE SPECIFIC NOTES (add or append and press update)</span> </p>
                      
                      <form action="/addSubNote/<%= customerPurchasesArr[customer].address %>" method="post">
                        <!-- <textarea name="addSubNote" type="text" placeholder="<%=  %>Add A Note About The Subscription <%= customerPurchasesArr[customer].subscriptions[item].notes %>"></textarea> -->
                        <textarea name="addSubNote" type="text"><%= customerPurchasesArr[customer].subscriptions[item].notes %></textarea>
                        <input type="submit" value="UPDATE NOTES">
                        <input type="hidden" name="pagePath" value="<%= pagePath %>">
                        <input type="hidden" name="subNum" value="<%= customerPurchasesArr[customer].subscriptions[item].subNum %>">
                      </form>
                    </div>
                  </div>
                <% 
                  }
                } %>
              </div>

              <div class="others">
                <h4 class="sub-head">OTHER Subscriptions OR Suggestions not seen on this page.</h4>
                <%
                if(others.length < 1){
                  %> THIS ADDRESS DOES NOT CONTAIN OTHER DATA IN DATABASE <%
                } else {
                  for(item in others){
                  %>
                    <div class="single-other">
                      <p style="float: left; padding-top: 10px;"><a href="/<%= others[item].status == 'new' ? '' : others[item].status %>#<%= addressID %>"><%= others[item].productName %></a></p>
                      <p class="status <%= others[item].status %>" style="float: right;">STATUS: <%= others[item].status %></p>
                      <p style="clear: both;"></p>
                    </div>
                  <%
                  }
                }
                %>
              </div>
            </div>

          <%}
        %>

          <br>
        <% }
      } %>
    </div>
    <script src="../public/script.js"></script>
</body>
</html>