<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css" type="text/css">
  <title>Document</title>
</head>
<body>
  <h1>List of Customers</h1>
  <div class="customers-list">
    <% if (customerPurchasesArr.length < 1){ %>
      <p>GETTING DATA FROM MAGENTO 2, PLEASE RELOAD PAGE IN A MOMENT...</p>
      <% } else { %>
        <p>There are <%= Object.keys(customerPurchasesArr).length %> customers who have purchased the same item multiple times within the last <%= getDataFrom %> months and might be interested in signing up for a subscription</p>
        <p>Expected revenue per month from subscriptions: $<%= revenue %></p>  
        <br>
        <p>"Times purchased" lumps all purchases of same item by same address ON THE SAME DAY together</p>
        
        <% for(customer in customerPurchasesArr) { %>
          <ul class="single-customer">
            <li><%= customerPurchasesArr[customer].address %>, <%= customerPurchasesArr[customer].addressOthers.city %>, <%= customerPurchasesArr[customer].addressOthers.region %> <%= customerPurchasesArr[customer].addressOthers.postcode %></li>
            <!-- <li><%= customerPurchasesArr[customer].addressOthers.city %></li> -->
            <!-- <li><%= customerPurchasesArr[customer].addressOthers.region %></li> -->
            <!-- <li><%= customerPurchasesArr[customer].addressOthers.postcode %></li> -->
            <li>PHONE: <%= customerPurchasesArr[customer].addressOthers.telephone %></li>
            <li><%= customerPurchasesArr[customer].name %></li>
            <li><%= customerPurchasesArr[customer].email %></li>
            <li> Items Purchased Multiple Times: 
                <% for(item in customerPurchasesArr[customer].suggestedItems){ %>
                  <ul>
                    <br>
                    <li>Product: <%= customerPurchasesArr[customer].suggestedItems[item].productName %></li>
                    <li>SKU: <%= customerPurchasesArr[customer].suggestedItems[item].sku %></li>
                    <li>Price: $<%= customerPurchasesArr[customer].suggestedItems[item].price.toFixed(2) %></li>
                    <li>Times Purchased: <%= customerPurchasesArr[customer].suggestedItems[item].timesPurchased %></li>
                    <li>Qty Ordered: <%= customerPurchasesArr[customer].suggestedItems[item].qtyOrdered %></li>
                    <li>Dates Ordered: <%= customerPurchasesArr[customer].suggestedItems[item].datesPurchased %></li>
                    <li>Suggested Subscription: <%= customerPurchasesArr[customer].suggestedItems[item].suggest %></li>
                    <li>Possible Revenue Per Month: $<%= customerPurchasesArr[customer].suggestedItems[item].singlePurchaseRevenuePerMonth.toFixed(2) %></li>
                  </ul>
                  <br>
                <% }
                %>
            </li>
          </ul>
          <br>

        <% }
      } %>
    </div>
</body>
</html>