<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css" type="text/css">
  <title>Document</title>
</head>
<body>
  <div class="header">
    <h1>List of Suggestions</h1>
    <p class="logged-in-p">You are currently logged in</p>
    <p style="font-style: italic;">You will be periodically logged out for security reasons.</p>
  </div>
  <div class="main-container">
    <% if (customerPurchasesArr.length < 1){ %>
      <p class="loading-p">GETTING DATA FROM MAGENTO 2, PLEASE RELOAD PAGE IN A MOMENT...</p>
      <% } else { %>
        <div class="top-info-box">
          <p>There are <span style="font-weight: 600; color: green;"><%= Object.keys(customerPurchasesArr).length %></span> customers who have purchased the same item multiple times within the last <span style="font-weight: 600; color: green;"><%= getDataFrom %> months</span> and might be interested in signing up for a subscription.</p>
          <p>Expected revenue per month from subscriptions: <span style="font-weight: 600; color: green;">$<%= revenue %></span></p>
          <p><span style="font-weight: 600;">Last Data Pull:</span>  <%= currentDate %></p>
          <p>"Times purchased" lumps all purchases of same item by same address ON THE SAME DAY together so you don't get every day subscription suggestions.</p>
          <p>The minimum interval between purchases in order to trigger a suggestion 1 week.</p>
        </div>

        <% 
        console.log(customerPurchasesArr.status)
        %>

        
        <% for(customer in customerPurchasesArr) { %>
          <ul class="single-customer">
            <li class="address"><%= customerPurchasesArr[customer].address %>, <%= customerPurchasesArr[customer].addressOthers.city %>, <%= customerPurchasesArr[customer].addressOthers.region %> <%= customerPurchasesArr[customer].addressOthers.postcode %></li>
            <li>PHONE: <%= customerPurchasesArr[customer].addressOthers.telephone %></li>
            <li><%= customerPurchasesArr[customer].name %></li>
            <li><%= customerPurchasesArr[customer].email %></li>
            <li> Items Purchased Multiple Times: 
              <% for(item in customerPurchasesArr[customer].suggestedItems){ %>
                <ul class="single-customer-products-list">
                  <br>
                  <li><span style="font-weight: 600;">Product:</span> <%= customerPurchasesArr[customer].suggestedItems[item].productName %></li>
                  <li>SKU: <%= customerPurchasesArr[customer].suggestedItems[item].sku %></li>
                  <li>Price: $<%= customerPurchasesArr[customer].suggestedItems[item].price %></li>
                  <li>Times Purchased: <%= customerPurchasesArr[customer].suggestedItems[item].timesPurchased %></li>
                  <li>Qty Ordered: <%= customerPurchasesArr[customer].suggestedItems[item].qtyOrdered %></li>
                  <li>Dates Ordered: <%= customerPurchasesArr[customer].suggestedItems[item].datesPurchased %></li>
                  <li>
                    <ul style="margin-left: 50px;">
                      Purchase Instances: 
                      <% for(instance in customerPurchasesArr[customer].suggestedItems[item].purchaseInstances) { %>
                        <li>
                          qtyOrdered: <%= customerPurchasesArr[customer].suggestedItems[item].purchaseInstances[instance].qtyOrdered %>
                        </li>
                        <li>
                          datesPurchased:<%= customerPurchasesArr[customer].suggestedItems[item].purchaseInstances[instance].datesPurchased %>
                        </li>
                      <% } %>
                    </ul>
                  </li>
                  <li><span style="font-weight: 600;">Suggested Subscription:</span> <%= customerPurchasesArr[customer].suggestedItems[item].suggest %></li>
                </ul>
                <br>
              <% } %>
            </li>
          </ul>
          <br>

        <% }
      } %>
    </div>
</body>
</html>