<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css" type="text/css">
  <title>Contacted Customers</title>
</head>
<body>
  <% 
    
  %>
  <div class="header">
    <h1>List of Already Contacted Customers</h1>
    <p class="logged-in-p">You are currently logged in</p>
    <p style="font-style: italic;">You will be periodically logged out for security reasons.</p>
  </div>



  <div class="main-container">
    <% if (customerPurchasesArr.length < 1){ %>
      <p class="loading-p">GETTING DATA FROM MAGENTO 2, PLEASE RELOAD PAGE IN A MOMENT...</p>
      <% } else { %>
        <header>
          <%- include('header.ejs') %>
        </header>

        
        <% for(customer in customerPurchasesArr) { %>
          <ul class="single-customer">
            <li class="address"><%= customerPurchasesArr[customer].address %>, <%= customerPurchasesArr[customer].addressOthers.city %>, <%= customerPurchasesArr[customer].addressOthers.region %> <%= customerPurchasesArr[customer].addressOthers.postcode %></li>
            <form action="/addNote/<%= customerPurchasesArr[customer].address %>" method="post">
              <input name="addNote" type="text" placeholder="Add A Note">
              <input type="submit" value="ADD NOTE">
            </form>
            <li>CURRENT STATUS: <%= customerPurchasesArr[customer].status %></li>
            <li>PHONE: <%= customerPurchasesArr[customer].addressOthers.telephone %></li>
            <li><%= customerPurchasesArr[customer].name %></li>
            <li><%= customerPurchasesArr[customer].email %></li>
            <li> Items Purchased Multiple Times: 
              <% for(item in customerPurchasesArr[customer].suggestedItems){ %>
                <ul class="single-customer-products-list">
                  <br>
                  <li><span style="font-weight: 600;">Product:</span> <%= customerPurchasesArr[customer].suggestedItems[item].productName %></li>
                  <li>SKU: <%= customerPurchasesArr[customer].suggestedItems[item].sku %></li>
                  <li>Price: $<%= customerPurchasesArr[customer].suggestedItems[item].price %></li>
                  <li>Times Purchased: <%= customerPurchasesArr[customer].suggestedItems[item].timesPurchased %></li>
                  <li>Qty Ordered: <%= customerPurchasesArr[customer].suggestedItems[item].qtyOrdered %></li>
                  <li>Dates Ordered: <%= customerPurchasesArr[customer].suggestedItems[item].datesPurchased %></li>
                  <li>
                    <ul style="margin-left: 50px;">
                      Purchase Instances: 
                      <% for(instance in customerPurchasesArr[customer].suggestedItems[item].purchaseInstances) { %>
                        <li>
                          qtyOrdered: <%= customerPurchasesArr[customer].suggestedItems[item].purchaseInstances[instance].qtyOrdered %>
                        </li>
                        <li>
                          datesPurchased:<%= customerPurchasesArr[customer].suggestedItems[item].purchaseInstances[instance].datesPurchased %>
                        </li>
                      <% } %>
                    </ul>
                  </li>
                  <li><span style="font-weight: 600;">Suggested Subscription:</span> <%= customerPurchasesArr[customer].suggestedItems[item].suggest %></li>
                  <li>ADMIN NOTES: <%= customerPurchasesArr[customer].notes %></li>
                </ul>
                <br>
              <% } %>
            </li>
          </ul>
          <br>

        <% }
      } %>
    </div>
    <script src="../public/script.js"></script>
</body>
</html>