<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css" type="text/css">
  <title>Contacted Customers</title>
</head>
<body>
  <% 
    
  %>
  <div class="header">
    <h1><%= pageTitle %></h1>
    <p class="logged-in-p">You are currently logged in</p>
    <p style="font-style: italic;">You will be periodically logged out for security reasons.</p>
  </div>

  <header>
    <%- include('header.ejs', {pagePath: pagePath}) %>
  </header>


  <div class="main-container">
    <% if (customerPurchasesArr.length < 1){ %>
      <p class="loading-p">THERE ARE NO <%= pageTitle %> AT THIS TIME.</p>
      <% } else { %>

        
        <% for(customer in customerPurchasesArr) { 
          var custInstancesArr = customerPurchasesArr[customer].suggestedItems.filter(item =>{
            return item.status == pagePath
          })
          if (custInstancesArr.length <= 0){
            %>
            <h2>No records of <%= pagePath %> at this time.</h2>
            <%
          } else{ %>
            <div class="single-customer">
  
              <p class="address"><%= customerPurchasesArr[customer].address %>, <%= customerPurchasesArr[customer].addressOthers.city %>, <%= customerPurchasesArr[customer].addressOthers.region %> <%= customerPurchasesArr[customer].addressOthers.postcode %></p>
              
              <div class="customer-box">
                <div class="customer-info">
                  <p>PHONE: <%= customerPurchasesArr[customer].addressOthers.telephone %></p>
                  <p><%= customerPurchasesArr[customer].name %></p>
                  <p><%= customerPurchasesArr[customer].email %></p>
                </div>
    
                <div class="cust-form">
                  <p>CUSTOMER NOTES: <%= customerPurchasesArr[customer].notes %></p>
                  <form action="/addNote/<%= customerPurchasesArr[customer].address %>" method="post">
                    <textarea name="addNote" type="text" placeholder="Add A Note About The Customer"></textarea>
                    <input type="submit" value="ADD NOTE">
                    <input type="hidden" name="pagePath" value="<%= pagePath %>">
                  </form>
                </div>
              </div>
  
              <div class="purchased-items">
                <h4>This customer has made these purchases that triggered a suggestion:</h4>
                <% for(item in customerPurchasesArr[customer].suggestedItems){ %>
                  <div class="single-customer-purchased-item">
                    <div class="single-customer-purchase">
                      <p class="status-p">STATUS: <span class="status-span"><%= customerPurchasesArr[customer].suggestedItems[item].status %></span></p>
                      <p><span style="font-weight: 600;">Product:</span> <%= customerPurchasesArr[customer].suggestedItems[item].productName %></p>
                      <p>SKU: <%= customerPurchasesArr[customer].suggestedItems[item].sku %></p>
                      <p>Price: $<%= customerPurchasesArr[customer].suggestedItems[item].price %></p>
                      <p>Times Purchased: <%= customerPurchasesArr[customer].suggestedItems[item].timesPurchased %></p>
                      <div>
                          <h4>Purchase Instances: </h4>
                          <% for(instance in customerPurchasesArr[customer].suggestedItems[item].purchaseInstances) { %>
                            <p>qtyOrdered: <%= customerPurchasesArr[customer].suggestedItems[item].purchaseInstances[instance].qtyOrdered %></p>
                            <p>datesPurchased:<%= customerPurchasesArr[customer].suggestedItems[item].purchaseInstances[instance].datesPurchased %></p>
                          <% } %>
                      </div>
                      <p><span style="font-weight: 600;">Suggested Subscription:</span> <%= customerPurchasesArr[customer].suggestedItems[item].suggest %></p>
                    </div>
    
                    <div class="single-purchase-edit-box">
                      <form action="/changeStatus/<%= customerPurchasesArr[customer].address %>" method="POST">
                        <select name="status" id="status">
                          <option value="new">--New Suggestion --</option>
                          <option value="contacted">Contacted</option>
                          <option value="potential">Potential</option>
                          <option value="paused">Paused</option>
                          <option value="not-interested">Not Interested</option>
                        </select>
                        <input type="hidden" name="purchaseSku" value="<%= customerPurchasesArr[customer].suggestedItems[item].sku %>">
                        <input type="submit" value="CHANGE STATUS">
                      </form>

                      <p><span style="font-weight: 600;">NOTES:</span> <%= customerPurchasesArr[customer].suggestedItems[item].notes %></p>
                      
                      <form action="/addNote/<%= customerPurchasesArr[customer].address %>" method="post">
                        <textarea name="addNote" type="text" placeholder="<%=  %>Add A Note About The Purchase <%= customerPurchasesArr[customer].suggestedItems[item].notes %>"></textarea>
                        <input type="submit" value="ADD NOTE">
                        <input type="hidden" name="pagePath" value="<%= pagePath %>">
                        <input type="hidden" name="purchaseSku" value="<%= customerPurchasesArr[customer].suggestedItems[item].sku %>">
                      </form>
                    </div>
                  </div>
                <% } %>
              </div>
            </div>

          <%}
        %>

          <br>
        <% }
      } %>
    </div>
    <script src="../public/script.js"></script>
</body>
</html>