<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css" type="text/css">
  <title><%= pageTitle %></title>
</head>
<body>
  <header>
    <%- include('header.ejs', {pagePath: pagePath, currentDate: currentDate}) %>
  </header>

  <%
  var revenue = 0
  for(customer in customerPurchasesArr){
    for(item in customerPurchasesArr[customer].suggestedItems){
      if(customerPurchasesArr[customer].suggestedItems[item].status == pagePath){
        revenue += customerPurchasesArr[customer].suggestedItems[item].revenuePerMonth
      }
    }
  }
  %>
  <div class="information-container">
    <p>Expected revenue per month from all items on this page: $<%= revenue.toFixed(2) %></p>
  </div>
  <div class="main-container">
    <% if (customerPurchasesArr.length < 1){ %>
      <p class="loading-p">THERE ARE NO <%= pageTitle %> AT THIS TIME.</p>
      <% } else { %>

        
        <% for(customer in customerPurchasesArr) { 
          var addressID = customerPurchasesArr[customer].address.split(' ').join()
          var custInstancesArr = customerPurchasesArr[customer].suggestedItems.filter(item =>{
            return item.status == pagePath
          })
          if (custInstancesArr.length <= 0){
            %>
            <h2>No records of <%= pagePath %> at this time.</h2>
            <%
          } else{ %>
            <div class="single-customer">
  
              <p class="address"><%= customerPurchasesArr[customer].address %>, <%= customerPurchasesArr[customer].addressOthers.city %>, <%= customerPurchasesArr[customer].addressOthers.region %> <%= customerPurchasesArr[customer].addressOthers.postcode %></p>
              
              <div id="<%= addressID %>" class="customer-box">
                <div class="customer-info">
                  <h3>CUSTOMER INFORMATION</h3>
                  <p>Address: <%= customerPurchasesArr[customer].address %>, <%= customerPurchasesArr[customer].addressOthers.city %>, <%= customerPurchasesArr[customer].addressOthers.region %> <%= customerPurchasesArr[customer].addressOthers.postcode %></p>
                  <p>Name: <%= customerPurchasesArr[customer].name %></p>
                  <p>Email: <a href="mailto:<%= customerPurchasesArr[customer].email %>"><%= customerPurchasesArr[customer].email %></a></p>
                  <p>Phone: <a href="tel:<%= customerPurchasesArr[customer].addressOthers.telephone %>"><%= customerPurchasesArr[customer].addressOthers.telephone %></a></p>
                </div>
    
                <div class="cust-form">
                  <form action="/addLead/<%= customerPurchasesArr[customer].address %>" method="post">
                    <input type="hidden" name="name" value="<%= customerPurchasesArr[customer].name %>">
                    <input type="hidden" name="email" value="<%= customerPurchasesArr[customer].email %>">
                    <input type="hidden" name="pagePath" value="<%= pagePath %>">
                    <input class="lead-btn" type="submit" value="ADD TO CLOSE CRM"><span class="lead-btn-span">Click here to add this customer and their suggestions to Close CRM. </span>
                  </form>
                  <br>
                  <p>CUSTOMER NOTES (add or append and press update)</p>
                  <form action="/addNote/<%= customerPurchasesArr[customer].address %>" method="post">
                    <textarea name="addNote" type="text"><%= customerPurchasesArr[customer].notes %></textarea>
                    <input type="submit" value="UPDATE NOTES">
                    <input type="hidden" name="pagePath" value="<%= pagePath %>">
                  </form>
                </div>
              </div>
  
              <div class="purchased-items">
                <h4 class="sub-head">This customer has made these purchases that triggered suggestions:</h4>

                <% var others = [] %>
                <% 
                if(customerPurchasesArr[customer].subscriptions){
                  for(item in customerPurchasesArr[customer].subscriptions){
                    others.push(customerPurchasesArr[customer].subscriptions[item])
                  }
                }
                for(item in customerPurchasesArr[customer].suggestedItems){ 
                  if(customerPurchasesArr[customer].suggestedItems[item].status !== pagePath){
                    others.push(customerPurchasesArr[customer].suggestedItems[item])
                  } else if(others.some(other => other.productName == customerPurchasesArr[customer].suggestedItems[item].productName)){ %>
                    <p><%= customerPurchasesArr[customer].subscriptions[item].productName %> is currently a Subscription.</p> <%
                  } else {
                %>
                  <div class="single-customer-purchased-item">
                    <div class="single-customer-purchase">
                      <p><span style="font-weight: 600;">Product:</span> <%= customerPurchasesArr[customer].suggestedItems[item].productName %></p>
                      <p>SKU: <%= customerPurchasesArr[customer].suggestedItems[item].sku %></p>
                      <p>Price: $<%= customerPurchasesArr[customer].suggestedItems[item].price %></p>
                      <p>Times Purchased: <%= customerPurchasesArr[customer].suggestedItems[item].timesPurchased %></p>
                      <p>Revenue Per Month: $<%= customerPurchasesArr[customer].suggestedItems[item].revenuePerMonth.toFixed(2) %></p>
                      <div class="purchase-instances-container">
                          <h4>Purchase Instances: </h4>
                          <% for(instance in customerPurchasesArr[customer].suggestedItems[item].purchaseInstances) { 
                            var datesPurchased = customerPurchasesArr[customer].suggestedItems[item].purchaseInstances[instance].datesPurchased.split(' ')[0]
                          %>
                            <div class="purchase-instances <%=  %>">
                              <p>Dates Purchased: <%= datesPurchased %></p>
                              <p>Qty Ordered: <%= customerPurchasesArr[customer].suggestedItems[item].purchaseInstances[instance].qtyOrdered %></p>
                              <p>Order Number:<%= customerPurchasesArr[customer].suggestedItems[item].purchaseInstances[instance].orderNumber %></p>
                            </div>
                          <% } %>
                      </div>
                      <p><span style="font-weight: 600;">Intervals Between Purchases(wks):</span> <%= customerPurchasesArr[customer].suggestedItems[item].suggest %></p>
                    </div>
    
                    <div class="single-purchase-edit-box">
                      <div class="status-container">
                        <p class="status purchase-status <%= pagePath %>">STATUS: <%= customerPurchasesArr[customer].suggestedItems[item].status %></p>
                        <form action="/changeStatus/<%= customerPurchasesArr[customer].address %>" method="POST">
                          <select name="status" id="status">
                            <option value="new">New</option>
                            <option value="contacted">Contacted</option>
                            <option value="potential">Potential</option>
                            <option value="" disabled>Active</option>
                            <option value="" disabled>Paused</option>
                            <option value="" disabled>Canceled</option>
                            <!-- <option value="paused">Paused</option> -->
                            <option value="not-interested">Not Interested</option>
                          </select>
                          <input type="hidden" name="purchaseSku" value="<%= customerPurchasesArr[customer].suggestedItems[item].sku %>">
                          <input class="change-status-btn" type="submit" value="CHANGE STATUS">
                        </form>
                      </div>

                      <p><span style="font-weight: 600;">PURCHASE SPECIFIC NOTES (add or append and press update)</span></p>
                      
                      <form action="/addNote/<%= customerPurchasesArr[customer].address %>" method="post">
                        <textarea name="addNote" type="text"><%= customerPurchasesArr[customer].suggestedItems[item].notes %></textarea>
                        <input type="submit" value="UPDATE NOTES">
                        <input type="hidden" name="pagePath" value="<%= pagePath %>">
                        <input type="hidden" name="purchaseSku" value="<%= customerPurchasesArr[customer].suggestedItems[item].sku %>">
                      </form>
                    </div>
                  </div>

                <% 
                  }
                } 
                %>

              </div>
              <div class="others">
                <h4 class="sub-head">OTHER Subscriptions OR Suggestions not seen on this page</h4>
                <%
                if(others.length < 1){
                  %> THIS ADDRESS DOES NOT CONTAIN OTHER DATA IN DATABASE <%
                } else {
                  for(item in others){
                  %>
                    <div class="single-other">
                      
                      <p style="float: left; padding-top: 10px;"><a href="/<%= others[item].status == 'new' ? '' : others[item].status %>#<%= addressID %>"><%= others[item].productName %></a></p>
                      <p class="status <%= others[item].status %>" style="float: right;">STATUS: <%= others[item].status %></p>
                      <p style="clear: both;"></p>
                    </div>
                  <%
                  }
                }
                %>
              </div>

            </div>
          <%}
        %>

          <br>
        <% }
      } %>
    </div>
    <script src="../public/script.js"></script>
</body>
</html>